<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
<meta name="applicable-device" content="pc,mobile">
<title>登录窗口</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
<script type="text/javascript" src="http://connect.qq.com/qc_jssdk.js" data-appid="101504385" data-redirecturi="http://www.mayixiaochou.club/login" data-callback="true" charset="utf-8"></script>
<script type="text/javascript">

    QC.Login({

        btnId:"qq"    //插入按钮的节点id

    });
    console.info("登录状态："+QC.Login.check());
    if(QC.Login.check()){//如果已登录
        QC.Login.getMe(function(openId, accessToken){
            console.info("当前登录用户的", "openId为："+openId, "accessToken为："+accessToken);

            var paras = {oauth_consumer_key: "101504385", access_token: accessToken, openid: openId, format: "json"};

            QC.api("get_user_info", paras)
                .success(function(s){//成功回调
                    console.info("获取用户信息成功！当前用户昵称为："+s.data.nickname);
                    console.info("获取用户信息成功："+s);
                })
                .error(function(f){//失败回调
                    console.info("获取用户信息失败！");
                })
                .complete(function(c){//完成请求回调
                    console.info("获取用户信息完成！");
                });
        });
        //这里可以调用自己的保存接口
        //...
    }
    $(function(){
        alert(1)
	})

</script>
<a class="a globalLoginBtn">蚂蚁小丑</a>

	<div class="modal-dialog modal-sm" style="width:540px;">
		<div class="modal-content" style="border:none;">
			<div class="col-left"></div>
			<div class="col-right">
				<div class="modal-header">
					<button type="button" id="login_close" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="loginModalLabel" style="font-size: 18px;">登录</h4>
				</div>
				<div class="modal-body">
					<section class="box-login v5-input-txt" id="box-login">
						<form id="login_form" action="" method="post" autocomplete="off">
							
							<ul>
								<li class="form-group"><input class="form-control" id="id_account_l" maxlength="50" name="account_l" placeholder="请输入邮箱账号/手机号" type="text"></li>
								<li class="form-group"><input class="form-control" id="id_password_l" name="password_l" placeholder="请输入密码" type="password"></li>
							</ul>
						</form>
						<p class="good-tips marginB10"><a id="btnForgetpsw" class="fr">忘记密码？</a>还没有账号？<a href="javascript:;" target="_blank" id="btnRegister">立即注册</a></p>
						<div class="login-box marginB10">
							<button id="login_btn" type="button" class="btn btn-micv5 btn-block globalLogin">登录</button>
							<div id="login-form-tips" class="tips-error bg-danger" style="display: none;">错误提示</div>
						</div>

						
						<div class="threeLogin"><span>其他方式登录</span>&nbsp;&nbsp;<span id="qq"></span><a class="nqq" href="javascript:;"></a><a class="nwx" href="javascript:;"></a><!--<a class="nwb"></a>--></div>
						
					</section>
				</div>
			</div>
		</div>
	</div>
	

<script type="text/javascript" src="/static/js/jquery2.2.2.min.js"></script>
<script type="text/javascript" src="/static/js/modal.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>
</body>
</html>
